<!doctype html>
<html lang="cs" data-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Aikido, Zbraslav, Aikido Zbraslav, Aikido Praha, Sokol Zbraslav, Aikido 4 U">
    <title>{{ config.extra.site_name | upper }}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{{ get_url(path='css/styles.css') }}">
</head>
<body>
    {% include "navbar.html" %}
    <div class="max-w-3xl mx-auto my-12">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>