{% extends "base.html" %}

{% block content %}
  <h1>{{ section.title }}</h1>
  <article class="text-base font-normal">{{ section.content | safe }}</article>
  <div class="text-center mb-8">
    <p class="text-2xl font-bold text-primary mb-2">Den otevřených dveří Sokola proběhne ve čtvrtek 3. září 2026 16.30&ndash;18.30 v sokolovně Zbraslav.</p>
    <p class="text-2xl font-bold text-primary">Přijďte se podívat, těšíme se na Vás.</p>
  </div>
  <div class="text-center mb-8">
    <p class="text-xl font-semibold text-secondary mb-2">První trénink Aikida v novém školním roce 2026/2027.</p>
    <p class="text-xl font-semibold text-secondary mb-2">Ve středu 2.9. 17:00&ndash;18:30 děti a 18:30&ndash;20:30 dospělí v Tělocvičně ZŠ Zbraslav, Hauptova ul. 591.</p>
    <p class="text-xl font-semibold text-secondary">Zvonek Aikido na okénku uvnitř nad schody.</p>
  </div>
  <div class="mt-8 text-center">
    <a href="{{ get_url(path='@/trainings.md') }}" class="btn btn-accent btn-lg">Chci cvičit Aikido</a>
  </div>
{% endblock content %}