        <li> <a href="{{ get_url(path="@/_index.md") }}"> Úvod </a> </li>
        <li> <a href="{{ get_url(path="@/about.md") }}"> O nás </a> </li>
        <li> <a href="{{ get_url(path="@/trainings.md") }}"> Tréninky </a> </li>
        <li> <a href="{{ get_url(path="@/instructors.md") }}"> Instruktoři </a> </li>
        <li> <a href="{{ get_url(path="@/aktuality/_index.md") }}"> Aktuality </a> </li>
        <li> <a href="{{ get_url(path="@/links.md") }}"> Odkazy </a> </li>
        <li> <a href="{{ get_url(path="@/contact.md") }}"> Kontakty </a> </li>
